* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
}
ul {
    list-style: none;
}
p {
    margin: 10px 0;
}
.web-accessibility-app {
    display: flex;
    flex-flow: row wrap;
}
header,
nav,
main,
footer {
    background: #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 5px
}

.web-accessibility-app > header {
    order: 1;
    flex: 0 1 100%;
    height: 45px;
    text-align: center;
}
.web-accessibility-app > nav {
    order: 2;
    flex: 0 1 200px;
}
.web-accessibility-app > main {
    order: 3;
    flex: 1;
}
.web-accessibility-app > footer {
    order: 4;
    flex: 0 1 100%;
    height: 25px;
    padding: 5px;
    margin: 5px;
    padding-top: 10px;
}